.grid {
  grid-gap: 1em;
  margin: 0 0 2em 0;
}

.grid div {
  background-color:rgba(0,0,0,0);
}

.nice-image {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(0deg);
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
}

.nice-imageS {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(360deg);
  transition: transform 0.30s;
  -webkit-transition: 0.30s;
  -moz-transition: 0.30s;
  -ms-transition: 0.30s;
  -o-transition: 0.30s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
} 

.rotated {
  width: 70%;
  height: auto;
  display: block;
  transform: rotate(0deg);
}

.nice-decor {
  width: 80%;
  height: auto;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  vertical-align: right;
}

.nice-rect {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.nice-card {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flip-card {
  background-color: white;
  width: 200px;
  height: 230px;
  margin: 10px;
  text-align: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
 position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
  background-color: #ffffff;
  color: black;
}

.card-back {
  text-align: left;
  background-color: white;
  color: black;
  width: 70%;
  border: 5px solid #EDC5DD;
  transform: rotateY(180deg);
  font-size: 14px;
  padding: 8px;
}

.img-explore {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.book {
  margin-top: 2em;
}

.book h2 {
    font-family: 'EB Garamond', serif; 
    font-weight: 400;
    font-size: 2em;
    font-color: #000000;
}

.book-nav {
  text-align: center;
  color: black;
}

.book-nav a {
  background-color: transparent;
}

.book-nav img {
  width: 70%;
}

.info {
  text-align: center;
  align-items: center;
  color: black;
}

.infoC {
  text-align: left;
  color: black;
  border: 5px solid black;
  background-color: #34113F;
}

.body {
  background-color: #ffffff;
}

.h1 {
  color: #000000;
}

.h4 a:hover {
  color: #34113F;
  background-color: #34113F;
}

.button {
  background-color: #EDC5DD;
  padding: 15px 32px;
  border-radius: 8px;
  font-family: 'EB Garamond', serif;
}

.button:hover {
  background-color: #34113F;
  color: white;
  cursor: pointer;
}

.center {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.reverse {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 396px;
   height: 649px;
   position: relative;
   margin: 50px auto;
}

.reverse .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.reverse .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.reverse .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  font-family: 'EB Garamond', serif;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.5em;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */

}
.reverse .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.reverse .card .back {  
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */

}

.reverse .card .face table {
    height: 100%;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
